<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>电影详细页面</title>
    <link rel="stylesheet" href="./bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/style.css">
    <script src="./jquery-3.2.1.js"></script>
    <script src="./bootstrap-3.3.7-dist/js/bootstrap.js"></script>

    <script type="text/javascript" src="detailWebpage.js"></script>
    
    <style>
        body{
            background-color: lightgrey;
        }
    </style>
</head>
<body id="detail">
<br><br>
    <div class="container" id="movieContents" style="background-color: cornsilk" >
      <div class="row" >
          <div class="col-lg-3 col-md-3" id="mainImage"  >
          </div>

          <div class="col-lg-4 col-md-4" id="detailInfo">
               <h1 id="movieName" style="font-style: oblique"><b></b></h1>
              <br>
              <small> 导演:    </small><span id="directors"></span><br>
              <small> 演员:    </small><span id="actors"></span><br>
              <small> 类型:    </small><span id="type"></span><br>
              <small> 语言:    </small><span id="language"></span><br>
              <small> 片长:    </small><span id="length"></span><br>
              <small> 上映日期:    </small><span id="releasedTime"></span>
          </div>
          <div class="col-lg-1 col-md-1">
              <hr align="right" style="width:2px;height:200px; "color="#ada9a9">
          </div>
          <div class="col-lg-4 col-md-4" id="commentsScore" >
              <h3 style="color: #007722">评分</h3>
              <p style="text-align: left" class="grades"></p>
          </div>
      </div>

        <hr class="separateBeforeSummary">
      <div class="row" id="summary">
          <div class="caption" style="padding: 20px" >
              <p ></p>
          </div>
      </div>

        <hr class="separateBeforeComments">
      <div class="row" id="comments">
      </div>
    </div>

</body>
</html>